/* Utilisation de rem plutôt que px pour les unités */
body {
  max-width: 120rem; /* 1920px = 120rem */
  margin: auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.top-header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding-inline: 6.25rem; /* 100px = 6.25rem */
  padding-block: 1.875rem; /* 30px = 1.875rem */
  align-items: center;
}

.top-header .name {
  font-size: 1.625rem; /* 26px = 1.625rem */
}

.nav ul {
  display: flex;
  list-style-type: none;
  font-size: 0.875rem; /* 14px = 0.875rem */
  margin-bottom: 0;
}

.nav li {
  padding-inline: 0.625rem; /* 10px = 0.625rem */
}

.nav a {
  text-decoration: none;
  color: #000;
}

.social-link img {
  width: 1.25rem;
  height: 1.25rem; /* 20px = 1.25rem */
}

#about {
  display: flex;
  background-color: #f6d2b8;
  padding-inline: 6.25rem; /* 100px = 6.25rem */
  padding-block: 6.25rem; /* 100px = 6.25rem */
  position: relative;
}

.picture.left{
  /* content: " "; */
  /* background-color: #e5975f; */
  width: 23.375rem; /* 374px = 23.375rem */
  height: 20.5625rem; /* 329px = 20.5625rem */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.picture {
  flex: 1;
  margin: 0 1.25rem; /* 20px = 1.25rem */
  z-index: 0;
}

.picture img {
  width: 100%;
}

#about-me {
  flex: 2;
}

.about-me__title {
  margin-top: 1em;
  margin-bottom: 3.75rem; /* 60px = 3.75rem */
  font-size: 1.875rem; /* 30px = 1.875rem */
}

.about-me__introduction {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: italic;
  width: 60%;
}

#about-me p {
  width: 80%;
  font-size: 0.875rem; /* 14px = 0.875rem */
}

.title {
  text-align: center;
  padding-block: 2em;
}

.gallery .nav {
  justify-content: center;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #beb45a;
  border-radius: 0;
}

.nav-pills .nav-link {
  color: #000;
}

.item-column {
  position: relative;
  margin-bottom: 0 !important;
  padding: 0;
}

.item-column::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.gallery-item {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0.5em;
}

.mg-prev,
.mg-next {
  width: 1.875rem; /* 30px = 1.875rem */
  height: 1.875rem; /* 30px = 1.875rem */
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.5rem; /* 24px = 1.5rem */
}

.quote {
  font-family: "Spectral", serif;
  font-style: italic;
  width: 70%;
  margin: auto;
  padding-block: 3em;
}

.quote__text {
  font-weight: 300;
}

.quote__author {
  font-weight: 800;
  font-size: 1.375rem; /* 22px = 1.375rem */
}

#services {
  margin: auto;
  background-color: #a8d5d8;
  position: relative;
}

#services .container::before {
  content: " ";
  background-color: #1c6474;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  z-index: 0;
}

#services .container {
  justify-content: space-between;
  display: flex;
  padding: 2em 0;
}

.service {
  background-color: white;
  max-width: 24.375rem; /* 390px = 24.375rem */
  width: 30%;
  height: 21.0625rem; /* 337px = 21.0625rem */
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

#contact {
  margin: auto;
  background-color: #d8d3a8;
  position: relative;
  padding-inline: 6.25rem; /* 100px = 6.25rem */
  padding-block: 6.25rem; /* 100px = 6.25rem */
}

#contact .container {
  display: flex;
}

.picture.right::before {
  content: " ";
  background-color: #beb45a;
  width: 23.375rem; /* 374px = 23.375rem */
  height: 20.5625rem; /* 329px = 20.5625rem */
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.form-container {
  flex: 2;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-start;
}

form input,
form textarea {
  width: 100%;
  background-color: transparent;
  border: solid 1px;
  margin-bottom: 1.25rem; /* 20px = 1.25rem */
}

form textarea {
  height: 5em;
  line-height: 2.5em;
  font-size: 1.2em;
}

input[type="submit"] {
  background-color: #beb45a;
  padding: 0.5em 1em;
}

@media all and (max-width: 1180px) {
  .picture {
    flex: 2;
  }
  #about,
  #contact .container {
    align-items: center;
  }
  .about-me__title {
    margin-top: 0;
    margin-bottom: 1em;
  }
  #about-me h6,
  #about-me p {
    width: 100%;
  }
}

@media all and (max-width: 1000px) {
  #about {
    flex-direction: column;
  }
  .picture {
    width: 50%;
  }
  .picture.left::before {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: auto;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .about-me__title {
    text-align: center;
    margin-top: 1em;
  }
  #services .container {
    flex-direction: column;
  }
  .service {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 2em 0;
  }
  .service__description {
    margin-bottom: 1em;
  }
  #services .container::before {
    width: 30%;
    height: 100%;
    bottom: 0;
    right: 0;
    left: auto;
    z-index: 0;
  }
  #contact .container {
    flex-direction: column;
  }
  #contact .picture.right {
    margin-top: 1em;
  }
  .picture.right::before {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

@media all and (max-width: 650px) {
  .top-header {
    flex-direction: column;
    padding-inline: 0;
  }
  .top-header .nav,
  .top-header .nav ul {
    width: 100%;
    padding: 0;
  }
  .top-header .nav li {
    flex: 1;
    padding-block: 1em;
    text-align: center;
  }
  .picture.left::before,
  .picture.right::before {
    height: 9.375rem; /* 150px = 9.375rem */
  }
  #services .container {
    align-items: center;
  }
  .service {
    max-width: 90%;
  }
  #about,
  #contact {
    padding-inline: 2em;
    padding-block: 2em;
  }
  form {
    width: 100%;
  }
  .picture {
    width: 80%;
  }
}
